<!DOCTYPE html>
<html>

<head>
	<title>Area Labeling Demo</title>

	<script src="scripts/area.js"></script>
	<script src="scripts/arealabel.js"></script>
	<script src="scripts/projection.js"></script>
	<script src="scripts/poi.js"></script>

	<script src="scripts/live_label_demo.js"></script>
</head>

<body>
	<canvas id='canvas' height=750px width=750px></canvas>
	<!--
		<div>
			<br />
			<button id='skeleton-button'>Skeleton</button>
			<button id='label-button'>Label</button>
			<br />
			<label>Circle Input:</label>
			<br />
			<input type="text" id="circle-text-input" value="Hello World!">
			<br />
		</div>
		-->
	<div>
		<h1>Responsive Label display</h1>
		<div class="slidercontainer">
			<label>Current <it>t</it>:</label>
			<input type="range" min="0" max="100" value="50" class="slider" id="slider_t"></div>
		<hr>
		<label>Area data input:</label>
		<br>
		<input type="file" id="poly_file">
		<br>
		<label>Points of interest data input:</label>
		<br>
		<input type="file" id="poi_file">
	</div>

</body>

</html>